<section class="DiviseInfo">
  
  <div class="DiviseInfo_Item">
    <h3 class="DiviseInfo_Item_Title"> Compra </h3>
    <span class="DiviseInfo_Item_Value"> {{ getBuyValue() }} </span>
  </div>
  
  <i class="divider"></i>

  <div class="DiviseInfo_Item">
    <h3 class="DiviseInfo_Item_Title"> Intermedio </h3>
    <span class="DiviseInfo_Item_Value"> {{ getAVGValue() }} </span>
  </div>
  
  <i class="divider"></i>
  
  <div class="DiviseInfo_Item">
    <h3 class="DiviseInfo_Item_Title"> Venta </h3>
    <span class="DiviseInfo_Item_Value"> {{ getSellValue() }} </span>
  </div>

</section>